stack exec cyclone -- slave -p 9091
stack exec cyclone -- slave -p 9092
stack exec cyclone -- slave -p 9093
stack exec cyclone -- slave -p 9094
stack exec cyclone -- slave -p 9095
stack exec cyclone -- slave -p 9096
stack exec cyclone -- slave -p 9097
stack exec cyclone -- slave -p 9098
stack exec cyclone -- slave -p 9099
stack exec cyclone -- slave -p 10000
stack exec cyclone -- slave -p 10001
stack exec cyclone -- slave -p 10002

