stack exec cyclone -- slave -p 9091
stack exec cyclone -- slave -p 9092
stack exec cyclone -- slave -p 9093
stack exec cyclone -- slave -p 9094
# Add some failures
# TODO: allow cyclone-spawn to read from different configuration files
# timeout 4 stack exec cyclone -- slave -p 9095
# timeout 7 stack exec cyclone -- slave -p 9096
